{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h1 class="h2">Dashboard</h1>
    <h4>My Events</h4>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for event in user_events %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ event.title }}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{event.price}}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{event.available_tickets}} tickets available</li>
                </ul>
                <a href="{% url 'event' event.id %}" class="w-100 btn btn-lg btn-outline-primary">View Details</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <h4>My tickets</h4>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for ticket in user_tickets %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ ticket.event.title }}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">${{ticket.event.price}}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{ticket.event.available_tickets}} tickets available</li>
                </ul>
                <a href="{% url 'event' ticket.event.id %}" class="w-100 btn btn-lg btn-outline-primary">View Event Details</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
